/target/
/.metadata
.classpath
.project
/.setting
*.*db
*.com
*.dll
*.class
*.dll
*.exe
*.o
*.err
.DS_Stroe
.Trashes
*/.git/*
.#*
.del-*
.git
.svn
.CVS.adm
.RCS
.RCSLOG
TAGS
_$*
_svn
/bin
